div.notesPage {
    display: grid;
    grid-template-columns: 1fr auto auto 1fr;
    grid-template-rows: auto 1fr; 
    grid-template-areas:    'LMargin notesHeader notesHeader RMargin'
                            'LMargin menu notes RMargin';

}

div.notesHeader {
    grid-area: notesHeader;
    text-align: center;
    font-size: 30px;
    margin-bottom: 10px;
}

div.menu {
    grid-area: menu;
    padding: 5px;
    border-radius: 10px;
    border: #cacac2 solid 1px;
}

div.notes {
    grid-area: notes; 
    max-width: 400px;
    /* padding: 5px; */
}

div.notesRMargin {
    grid-area: RMargin;
}

div.notesLMargin {
    grid-area: LMargin;
}

button.menuButton {
    border: none;
    background-color: #f7f7ef;
    padding: 5px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    transition: 0.3s;
    cursor: pointer;
}

button.menuButton:hover {
    background-color: #cacac2;
}

section {
    border: #cacac2 solid 1px;
    border-radius: 5px;
    padding-left: 10px;
}

span {
    font-family:monospace;
    background-color: #f8f88a;
    font-weight: bold;
}