body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #f7f7ef;
    margin: 0;
    padding: 0;
}

div.container {
    display: grid; 
    height: 100vh;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: auto 1fr 25px;
    grid-template-areas:    'header header header'
                            'leftMargin mainContent rightMargin'
                            'footer footer footer'
                            ;
}

div.header {
    grid-area: header;
    text-align: center;
    margin-bottom: 0;
}


div.mainContent {
    grid-area: mainContent;
    margin-right: 5px;
    padding-right: 5px;
    max-width: 600px;
}

div.footer {
    grid-area: footer;
    text-align: center;
}

div.rightMargin {
    grid-area: rightMargin;
}

div.leftMargin {
    grid-area: leftMargin;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 90px;
    font-weight: lighter;
    color:black;
    padding-top: 0;
    margin-top: 10px;
    margin-bottom: 20px;
    /* text-transform: capitalize; */
    /* text-shadow: darkkhaki 2px 2px, darkgray 4px 3px; */
}



div.buttonsDiv {
    padding: 50px;
    padding-bottom: 0;
}

button.header {
    border: none;
    color: black;
    background-color: #f7f7ef;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    transition: 0.3s;
    cursor: pointer;
}

button.header:hover {
    background-color:#cacac2;
}



div.activeNotes {
    grid-area: activeNotes;
}

/* .popup {
    visibility: hidden;
    position: absolute;
    top: 100%;

} */

div.gridDiv {
    border: grey solid 2px;
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
}

section.flexExample{
    display: flex;
    justify-content: center;
}

section.gridExample {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
}

/* string methods */

div.textbox {
    background-color: white;
    border: black solid 1px;
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
    width: auto;
    height: 50px;
    padding: 2px;
}

div.textboxButtons {
    margin-left: 50px;
    margin-right: 50px;
    width: auto;
    padding: 2px;
}

button.otherButtons {
    background-color: white;
    font-weight: normal;
    border: black 1px solid;
}

button.otherButtons:hover {
    background-color: darkkhaki;
}

/* font examples */

span.font1 {
    background-color: #f7f7ef;
    font-family: 'Courier New', Courier, monospace;
    font-weight:normal;
}

span.font2 {
    background-color: #f7f7ef;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight:normal;
}

span.font3 {
    background-color: #f7f7ef;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:normal;
}

span.font4 {
    background-color: #f7f7ef;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight:normal;
}

span.font5 {
    background-color: #f7f7ef;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:normal;
}

span.font6 {
    background-color: #f7f7ef;
    font-family:'Times New Roman', Times, serif;
    font-weight:normal;
}

span.font7 {
    background-color: #f7f7ef;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight:normal;
}

span.font8 {
    background-color: #f7f7ef;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:normal;
}

span.font9 {
    background-color: #f7f7ef;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight:normal;
}

span.font10 {
    background-color: #f7f7ef;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight:normal;
}

span.font11 {
    background-color: #f7f7ef;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight:normal;
}

span.font12 {
    background-color: #f7f7ef;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight:normal;
}

span.font13 {
    background-color: #f7f7ef;
    font-family: cursive;
    font-weight:normal;
}

span.font14 {
    background-color: #f7f7ef;
    font-family:fantasy; 
    font-weight:normal;
}

span.font15 {
    background-color: #f7f7ef;
    font-family:monospace;
    font-weight:normal;
}

span.font16 {
    background-color: #f7f7ef;
    font-family:sans-serif;
    font-weight:normal;
}

span.font17 {
    background-color: #f7f7ef;
    font-family:serif;
    font-weight:normal;
}